<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <connectionStrings>
        <add name="DinerMax3000.Business.Properties.Settings.ZZ_DinerMax3000ConnectionString"
            connectionString="Data Source=APHB-VMT3DB-P02.p2l.local;Initial Catalog=ZZ_DinerMax3000;Persist Security Info=True;User ID=jameskeating;Password=Charity!124"
            providerName="System.Data.SqlClient" />
   </connectionStrings> 
</configuration>